<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <!-- 外部CSSファイルの読み込み -->
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1><a href="/" style="text-decoration: none; color: black;">Notes</a>
        <button class="new-note-btn" onclick="window.location.href='/register-form'">新規登録</button>
    </h1>
    <table>
        <thead>
            <tr>
                <th>Select</th>
                <th onclick="sortTable(1)">ID</th>
                <th onclick="sortTable(2)">Title</th>
                <th onclick="sortTable(3)">Contents</th>
                <th onclick="sortTable(4)">Category</th>
                <th onclick="sortImportant()">Important</th>
                <th onclick="sortDate(6)">Created At</th>
                <th onclick="sortDate(7)">Updated At</th>
            </tr>
        </thead>
        <tbody>
            {{range .}}
            <tr>
                <td><button onclick="selectRow({{.ID}})">Select</button></td>
                <td id="id-{{.ID}}">{{.ID}}</td>
                <td id="title-{{.ID}}">{{.Title}}</td>
                <td id="contents-{{.ID}}" class="contents">{{.Contents}}</td>
                <td id="category-{{.ID}}">{{.Category}}</td>
                <td><input type="checkbox" id="important-{{.ID}}" disabled {{if .Important}}checked{{end}}></td>
                <td id="created-{{.ID}}">{{.CreatedAt}}</td>
                <td id="updated-{{.ID}}">{{.UpdatedAt}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>

    <!-- 外部JavaScriptファイルの読み込み -->
    <script src="/js/index.js"></script>
</body>
</html>
