<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Update Note</title>
    <!-- 外部CSSファイルを読み込む -->
    <link rel="stylesheet" href="/css/update.css">
</head>
<body>
    <h1><a href="/" style="text-decoration: none; color: black;">Update Note</a></h1>
    <form id="update-form" method="POST" action="/update">
        <input type="hidden" id="id" name="id" value="{{.ID}}">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="{{.Title}}">

        <label for="contents">Contents</label>
        <textarea id="contents" name="contents">{{.Contents}}</textarea>

        <label for="category">Category</label>
        <input type="text" id="category" name="category" value="{{.Category}}">

        <label for="important">Important</label>
        <input type="checkbox" id="important" name="important" {{if .Important}}checked{{end}}>

        <label for="confirm-delete" class="delete-checkbox">Confirm Delete</label>
        <input type="checkbox" id="confirm-delete" onclick="toggleDeleteButton()">

        <button type="submit">Update</button>
        <button type="button" class="delete-btn" id="delete-btn" onclick="deleteNote()" disabled>Delete</button>
    </form>

    <!-- 外部JavaScriptファイルを読み込む -->
    <script src="/js/update.js"></script>
</body>
</html>
